<div class="available">
    <h3>Hungry? Try one of these tasty burgers.</h3>
    <ul>
        {{#each burgers}}
        {{#unless devoured}}
            <button type="submit" class="burger-title" id="devour-button" data-id={{id}}>{{burger_name}}</button>
            {{!-- <li id="burger-title">{{burger_name}}</li>
            <button type="submit" id="devour-button" data-id={{id}}>Eat-Da-Burger!</button> --}}
        {{/unless}}
        {{/each}}
    </ul>
</div>

<div class="eaten">
    <h3>These burgers are currently unavailable, sorry.</h3>
    <ul>
        {{#each burgers}}
        {{#if devoured}}
            <li id="no-burger-title">{{burger_name}}</li>
        {{/if}}
        {{/each}}
    </ul>
</div>

<div class="byoburger">
    <form class="burger-creator" method="POST" action="/insertOne">
        <label>
            What type of burger would you like to add to the menu?
        </label>
        <input type="text" name="new-burger" id="new-burger" placeholder="Ex: Black Bean Burger">
        <button type="submit" id="add-burger">Add to Menu</button>
    </form>
</div>